
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$custom-blue:#02D2FF;
$primary:#02D2FF;

//Breakpoints
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 600px;

$md-bbrkpoint: 768px;