
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'structure';
//general home page
@import 'tabs/home';


@import 'partials/slider';
@import 'partials/menu';
@import 'partials/form';

.selector-for-some-widget {
  box-sizing: content-box;
}

body{
  background: white !important;
}

@media screen and (max-width: 769px){
  .nav-tabs > li{
  display:block;
  width:100%;
  }
}

//debug
.rd-border{
  border:1px solid red;
}