@import 'variables';

//background images

.custom_container{
  background-image: url('../../public/assets/images/products/surfers-co_wave.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:white;
}
.sub-container{
  width:100%;
}

//tabs

.first{
  height:25vw;
}
.second{
  margin-bottom:20vw;
}

.third{
  background-image: url('../../../public/assets/images/aboutus/surfers-co_14.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

.third>div, .fourth>div{
  @media screen and (min-width: $mediaMinWidth) {
    width:50%;
    min-width: 200px;
  }
  @media screen and (max-width: $mediaMinWidth) {
    width:100%;
    min-width: 200px;
  }
  height:50vw;
  margin-bottom:2vw;
}

.fourth{
  height:50vw;
}
.last{
  background: black;
  height:20vw;
}
.tab-content{
  width: 100%;
}

.full-height{
  height:100%;
}
.custom_Vcenter{
  display: flex;
  align-items: center;
}