.first{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2, p{
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  p{
    color:white;
  }
}
.third-left{
  display: flex;

  align-items: center;
}
@media screen and (min-width:$md-bbrkpoint){
  .third-left{
    justify-content: flex-end;
  }
}
@media screen and (max-width:$md-bbrkpoint){
  .third-left{
    justify-content: center;

  }
}
.transparent-title{
  font-family: "raleway", "sans-serif";
  color:rgba($color: #000000, $alpha: .04);
  font-size: 13vw;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom:-4vw;
  margin-right:3rem;
  padding: 0px;
  text-align: end;
}

.custom-about{
  width:100%;
  // margin: 2rem 0rem 0rem 0rem;
  // padding:2rem 0px 0px 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width:$md-bbrkpoint){
  .custom-about{
    width:80%;
  }
}
@media screen and (min-width:$md-bbrkpoint){
  .custom-about{
    width:100%;
    margin: 2rem 0rem 0rem 0rem;
    padding:2rem 0px 0px 3rem;
  }
}

.custom-form{
  padding:0rem 4rem 0rem 2rem;
}