.form-control{
  border-radius: 0;
}
.custom-btn{
  background: $custom-blue;
  padding:0.5rem 3rem;
  color:white;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "raleway","sans-serif";
}

input:placeholder-shown {
  font-family:'raleway','sans-serif';
  font-weight:bold;
}