.navbar{
  width:100%;
}
.nav-link{
  padding:0.5rem 1rem;
  margin:1rem 1rem;
  border: 0px;
}

.nav-tabs,
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover{
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
}

nav .nav li a{
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight:bolder;
}

@media screen and (min-width: $md-bbrkpoint){
  .nav-tabs .nav-link:hover{
    background-color:$custom-blue;
    color:white!important;
  }
}

h1{
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width:$md-bbrkpoint){
  .social_icons{
    display: none;
    span{
      display: none;
    }
  }
}
@media screen and (min-width:$md-bbrkpoint){
  .social_icons{
    width:60px;
    height:20px;
    display: inline-block;
    a{
      width:28px;
      height:28px;
      background: black;
      display: inline-block;
      border-radius: 50%;
        i{
          //background: rgb(202, 181, 181);
          color:white;
          padding:7px 8px 5px 9px;
          border-radius: 50%;
      }
    }
  }
}
//menu icon

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, .5);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}