#carouselExampleControls{
  width:80vw;
  height:48vw;
  background: url("../../public/assets/images/products/surfers-co_bg.jpg") no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 20px -2px rgba($color: #000000, $alpha: .5);
}
.carousel{
  margin: 0 auto 0 auto;
}
.carousel-caption{
  position:static;
  h3,p{
    color:black;
    text-align: left;
  }
  h3{
    font-family: "raleway","sans-serif";
    font-weight:bold;
  }
}



@media screen and (min-width:$md-bbrkpoint){
 .slider_phone_display{
   display:none;
 }
 .custom_slider_image{
  margin:auto 0rem auto 0rem;
  }
}
@media screen and (max-width:$md-bbrkpoint){
  .slider_desktop_display{
    display:none;
  }

  .slider_phone_display{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .custom_slider_image{
    max-width:40%;
    margin:auto;
  }
 }